/* 덮어쓰자 */
body {
	font-family: 'Noto Sans KR', 'Roboto', sans-serif !important;
}
a:hover {
	color: inherit;
}
/* checkbox/radio image ezmark*/
.ez-hide {opacity:0; filter:alpha(opacity=0);}
.ez-checkbox {background:transparent url('../images/icon/checkbox.png') 0 0px no-repeat;}
.ez-checkbox-on {background:transparent url('../images/icon/checkbox_on.png') 0 0px no-repeat;}
.ez-radio {background:transparent url('../images/icon/radio.png') 0 0px no-repeat;}
.ez-radio-on {background:transparent url('../images/icon/radio_on.png') 0 0px no-repeat;}
.ez-checkbox {display:inline-block; zoom:1; *display:inline; width:22px; height:22px; _height:22px; vertical-align:middle; background-size:22px 22px; margin: 0;}
.ez-radio {display:inline-block; zoom:1; *display:inline; width:20px; height:20px; _height:20px; vertical-align:middle; background-size:20px 20px; margin: 0;}

.join-checkbox-wrap {
	font-size: 14px;
}
.join-checkbox-wrap > * {
	vertical-align: middle;
}
.join-checkbox-wrap .ez-checkbox {
	display: inline-block;
	margin-right: 6px;
	width: 18px;
	height: 18px;
	background-image: url(../images/icon/join_check_off.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	-webkit-background-size: 36px;
	background-size: 18px;
}
.join-checkbox-wrap .ez-checkbox-on {
	background-image: url(../images/icon/join_check_on.png);
}

/* 추가 common css */
.wrapper {
	padding: 0 16px;
	box-sizing: border-box;
}
.wrapper.more-padding {
	padding: 0 25px;
}
.bg-gray {
	background-color: #f2f2f2 !important;
}
.title {
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 24px;
	letter-spacing: 1.8px;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.bold {
	font-weight: 700;
}
.normal {
	font-weight: 400;
}
.light {
	font-weight: 300;
}

.main-color {
	color: #a5585c !important;;
}


.badge {
	padding: 0 10px;
	line-height: 26px;
	font-size: 17px;
	color: #fff;
}
.badge-roman {
	background-color: #d8656b;
}
.badge-laser {
	background-color: #cbb566;
}
.badge-green {
	background-color: #517502;
}

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.icon-plus {
	width: 16px;
	height: 16px;
	background-image: url(/data/skin/mobile_ver3_itsimply_gls/images/icon/icon_more.png);
	background-size: 16px 16px;
}

.button {
	display: inline-block;
	padding: 12px 10px;
	font-size: 22px;
	background-color: #fff;
	border: 1px solid #333;
	outline: none;
	box-sizing: border-box;
}
.button-full {
	width: 100%;
}
.button > span {
	vertical-align: middle;
}
.button-white {
	color: #333;
	background-color: #fff;
}
.button-dark {
	color: #fff;
	background-color: #333;
}
.button-transparent {
	border: none;
	background-color: transparent;
}
.button-icon {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.button-icon .icon {
	vertical-align: middle;
}

@media only screen and (max-width: 480px) {
	.button {
		font-size: 18px;
	}
}
@media only screen and (max-width: 360px) {
	.button {
		font-size: 14px;
	}
}

input.input-text {
	-webkit-appearance: none;
	padding: 8px 10px;
	width: 140px;
	height: 34px;
	background-color: #fff !important;
	border: solid 1px #e0e0e0 !important;
	border-radius: 0;
	outline: none;
	font-size: 14px;
	box-sizing: border-box;
}
input.input-text.input-large {
	padding: 10px 12px;
	height: 40px;
	line-height: 40px;
}
input.input-text.input-full {
	width: 100%;
}

.input-password-show-wrap {
	position: relative;
}
.input-password-show-wrap .input-text {
	padding-right: 35px;
}
.input-password-show-wrap img {
	position: absolute;
	right: 13px;
	top: 50%;
	margin-top: -7px;
}

/* input input validator */
input.input-text.input-error {
	border: 1px solid #ff4b48 !important;
}
input.input-text.input-error + .error-msg {
	margin-top: 5px;
	font-size: 11px;
	color: #ff4b48;
}
select.select.select-full {
	width: 100%;
}

/* select */
select.select {
	-webkit-appearance: none;
	padding: 0 30px 0 8px;
	width: 140px;
	height: 34px;
	line-height: 34px;
	background-color: #ffffff;
	border: solid 1px #e0e0e0;
	border-radius: 0;
	background-image: url(/data/skin/mobile_ver3_itsimply_gls/images/common/order_icon_select@2x.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 9px;
}
select.select.select-large {
	height: 40px;
	line-height: 40px;
}

/* label */
.label-wrapper {
	display: inline-block;
}
.label-wrapper > * {
	vertical-align: middle;
}
.label-wrapper > label {
	margin-left: 6px;
}


@media only screen and (max-width: 480px) {
	.wrapper {
		padding: 0 12px;
	}
	.wrapper.more-padding {
		padding: 0 16px;
	}
	.title {
		margin-bottom: 20px;
		font-size: 20px;
	}
	.badge {
		margin-bottom: 16px;
		font-size: 13px;
	}
}
@media only screen and (max-width: 360px) {
	.title {
		font-size: 16px;
	}
}


/* table */
.table {
	width: 100%;
	table-layout: fixed;
}
/* table | goods */
.goods-table th,
.goods-table td {
	font-size: 14px;
	text-align: left;
	color: #000;
}
.goods-table th {
	font-weight: 400;
	width: 30%;
}
.goods-table td {
	font-weight: 300;
	width: 70%;
}

/* tab */
.tab {
	display: table;
	width: 100%;
}
.tab li {
	display: table-cell;
	padding: 15px 0;
	color: #9b9b9b;
	text-align: center;
	border-bottom: 3px solid #c4c4c4;
	cursor: pointer;
	font-size: 14px;
}
.tab li[data-src] {
	padding: 0;
	color: inherit;
}
.tab li[data-src] > a {
	display: block;
	padding: 15px 0;
	color: #9b9b9b;
}
.tab li.on {
	border-bottom: 3px solid #333;
	color: #333;
}
.tab li[data-src] {
	color: inherit;
}
.tab li[data-src].on > a {
	color: #333;
}
@media only screen and (max-width: 480px) {
	.tab li {
		padding: 10px 0;
		border-width: 2px;
	}
	.tab li[data-src] {
		padding: 0;
	}
	.tab li[data-src] > a {
		padding: 10px 0;
	}
}
@media only screen and (max-width: 360px) {
	.tab li {
		font-size: 12px;
	}
}
/* login & join */

/* login */
#auth-form {
	padding-top: 45px;
	padding-bottom: 70px;
	font-size: 12px;
}
#auth-form h2 {
	font-size: 20px;
}
#auth-form fieldset > div {
	margin-top: 15px;
}
#auth-form .button {
	font-size: 16px;
}

/* oauth login btns */
.login-buttons-wrap > div {
	margin-top: 15px;
}
.login-buttons-wrap > div:first-child {
	margin-top: 0;
}
.login-button {
	border: none;
	background-size: 16px;
	background-position: 15px 50%;
	background-repeat: no-repeat;
}
.login-fb {
	background-color: #3c5a99;
	background-image: url(../images/icon/facebook@2x.png);
	color: #fff;
}
.login-kakao {
	background-color: #ffe200;
	background-image: url(../images/icon/kakao@2x.png);
	color: #381e1f;
}
.login-naver {
	background-color: #00c73c;
	background-image: url(../images/icon/naver@2x.png);
	color: #fff;
}

/* form area split */
.split-area {
	position: relative;
	margin: 23px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	color: #9b9b9b;
}
.split-area > span {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 50%;
	padding-left: 53px;
	height: 1px;
	box-sizing: border-box;
}
.split-area > span:first-child {
	right: auto;
	left: 0;
	padding-left: 0;
	padding-right: 53px;
}
.split-area > span:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: #9b9b9b;
}
.split-area:before {
	left: 0;
	padding-right: 53px;
}
.split-area:after {
	right: 0;
	padding-left: 53px;
}





/* detail */
.stars-wrap {
	overflow: hidden;
}
.stars-wrap li {
	float: left;
	width: 15px;
	height: 14px;
	margin-right: 6px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: 15px;
	background-size: 15px;
}
.stars-wrap li.full {
	background-image: url(/data/skin/mobile_ver3_itsimply_gls/images/stars/detail_star_on.png);
}
.stars-wrap li.empty {
	background-image: url(/data/skin/mobile_ver3_itsimply_gls/images/stars/detail_star_off.png);
}

.button-recommend-size {
    width: 100%;
    color: #333;
    font-size: 16px;
    background-color: #fafafa;
    border: solid 1px #d2d2d2;
}
.button-recommend-size img {
    width: 36px;
    margin-right: 3px;
}
@media only screen and (max-width: 480px) {
    .button-recommend-size {
        font-size: 13px;
    }
    .button-recommend-size img {
        width: 28px;
    }
}
@media only screen and (max-width: 360px) {

    .button-recommend-size {
        font-size: 11px;
    }
    .button-recommend-size img {
        width: 20px;
    }
}
